/* SECTION: stuffing */
.drag-to-move {
    position: absolute;
    margin: 0 !important;
    z-index: 9;
}
.drag-to-move-header {
    cursor: move;
}

/* SECTION: icon, sign */
span.google-icon,
span.bell-icon-normal,
span.bell-icon-ring {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-sign {
    display: inline-block;

    --size: 30px;
    --ring: 4px;
    border-radius: 50%;

    border: var(--ring) solid #f3f3f3;
    border-top: var(--ring) solid #3498db;
    width: var(--size);
    height: var(--size);

    animation: spin 2s linear infinite;
}

/* SECTION: animation */
.spin-animation {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.shake-animation {
    animation: shake 0.5s linear infinite;
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
