html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--page_background);
}

a {
    color: var(--green_neon);
}

#updateButton .alert {
    right: -7px;
    bottom: calc(100% - 5px);
    text-align: center;

    width: 25px;
    height: 25px;
    border-radius: 50%;

    font-size: 20px;
    line-height: 25px;
    font-weight: bolder;

    background-color: black;
    box-shadow: 0 0 10px 1px black;
}
