@font-face {
    font-family: 'Alata'; /*a name to be used later*/
    src: url('Alata.ttf'); /*URL to font*/
}

:root {
    --green_neon: #73ff00;
    --black_neon: #000800;
    --fade_black_neon: #000a00f3;
    --fade_green_neon: #081000;
    --page_background: #424242;
}

* {
    font-family: 'Alata', cursive;
}
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

.section {
    margin: 3px;
}
.section .sectionTitle {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(1, 5, 0);
    color: rgb(13, 255, 0);
    letter-spacing: 1px;
    box-shadow: 0 0 5px 1px black;
}
.neonHover {
    color: var(--green_neon);
    background-color: var(--black_neon);

    padding: 4px 5px;
    border-radius: 3px;
    margin: 10px 0px;
    display: inline-block;
    font-size: 12px;
}
.neonHover:hover {
    box-shadow: 0 0 5px 1px var(--green_neon);
    color: var(--black_neon);
    background-color: var(--green_neon);
}

.centerText {
    text-align: center;
}
.redText {
    color: red;
}
.whiteText {
    color: white;
}
.blueText {
    color: blue;
}
.violetText {
    color: violet;
}
.boldText {
    font-weight: bold;
}
.noSelect {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.hidden {
    display: none;
}

.positionSticky {
    top: 0;
    position: sticky;
}
.positionFixed {
    position: fixed;
}
.positionAbsolute {
    position: absolute;
}
.positionRelative {
    position: relative;
}
