:root {
    --gray-faded: #424242;
    --green-neon: #73ff00;
    --black-neon: #000800;
    --black-neon-faded: #000a00f3;
    --green-neon-faded: #081000;
    --color-now-dayweek: #eeff00;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
}

html {
    scroll-behavior: smooth;
    min-height: 101%;
}
body {
    background-color: var(--gray-faded);
    /* touch-action: manipulation; */
    /* min-width: 720px; */
}

/* SECTION: page messages */
#openPageMessages {
    background-color: var(--green-neon);
    --bell-button-size: 40px;
    width: var(--bell-button-size);
    height: var(--bell-button-size);

    cursor: pointer;

    padding: 0px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px black;

    position: fixed;
    z-index: 22;
}
#openPageMessages #numberOfMessages {
    background-color: red;
    color: white;
    padding: 0px;
    width: 25px;
    height: 25px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}
#openPageMessages #numberOfMessages span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#openPageMessages.HasMessage .bell-icon-normal {
    display: none;
}
#openPageMessages.HasMessage .bell-icon-ring {
    display: unset;
}
#openPageMessages.EmptyMessage .bell-icon-normal {
    display: unset;
}
#openPageMessages.EmptyMessage .bell-icon-ring {
    display: none;
}

#closePageMessages {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.438);
}

#pageMessagesContent {
    z-index: 22;
    position: fixed;

    overflow: auto;
    height: 100%;
    min-width: 10vw;
    max-width: 25vw;

    border-radius: 0 0 5px 5px;

    background-color: var(--black-neon-faded);
}
#messageQueue .MessageTitle {
    /* background-color: var(--green-neon); */
    padding: 1px 4px;
    border-radius: 3px;
    border: 1px solid var(--green-neon);
}
#messageQueue .MessageContent {
    min-width: 100px;
    max-width: 300px;

    text-align: center;
    letter-spacing: 0;
    font-size: 12px;

    background-color: black;
    padding: 3px;
    margin: 2px;
}

/* SECTION: user input */
#inputSearchClass {
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--green-neon);
    background-color: var(--black-neon);

    padding: 5px 0px;
    font-size: 17px;

    text-align: center;
    cursor: text;
}
#schoolAutomation input {
    border: 2px solid black;
    border-radius: 5px;

    padding: 2px;
    font-size: 17px;

    text-align: center;
    cursor: text;
}

#LopDangKySearchResult {
    top: 100%;
    background-color: var(--black-neon);
    /* padding: 5px; */
    overflow-y: auto;
    border-radius: 5px;
    z-index: 21; /* make it higher than dayweek header */
}
#LopDangKySearchResult .MaLop {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

    border-radius: 5px;
    background-color: var(--black-neon);
    border: 1px solid var(--green-neon);
}
#LopDangKySearchResult .MaLop .MaLopContent {
    color: var(--green-neon);
    background-color: var(--black-neon);

    border: none;
    outline: none;
    border-radius: 4.5px;
    text-align: center;

    min-width: 50px;
    font-size: 13px;

    cursor: pointer;
    vertical-align: middle;
    padding: 3px 5px;
}
#LopDangKySearchResult .MaLop .MaLopContent:hover {
    transition: 0.4s;
    color: var(--black-neon);
    background-color: var(--green-neon);
    box-shadow: 0 0 10px 0px var(--green-neon);
}

#LopDangKySelected {
    min-width: 50%;
    max-width: 80%;
    min-height: 100px;
    margin: 10px auto;
}
#LopDangKySelected .MaLop {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: var(--black-neon);
    box-shadow: 0 0 5px 1px var(--black-neon);
}
#LopDangKySelected .MaLop .input {
    color: var(--green-neon);
    background-color: var(--black-neon);

    border: none;
    outline: none;

    border-radius: 5px;
    text-align: center;

    min-width: 50px;
    font-size: 13px;

    letter-spacing: 1px;
    vertical-align: middle;
    padding: 3px 5px;
}
#LopDangKySelected .MaLop .remove {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 5px;
    vertical-align: middle;
    cursor: pointer;
}
#LopDangKySelected .MaLop .remove:hover {
    transition: 0.4s;
    background-color: var(--green-neon);
    box-shadow: 0 0 10px 0px var(--green-neon);
}

/* SECTION: timing, week, term, ... */
#termPreview {
    outline: none;
    padding: 2px;
    font-size: 40px;
    min-width: 100px;
    letter-spacing: 1px;
}
#weekPreviewTitle {
    font-size: 25px;
    color: var(--green-neon);
    letter-spacing: 5px;
    text-shadow: -2px 2px 2px #767676;
}
#weekPreview {
    outline: none;
    min-width: 50px;
    font-size: 50px;
    letter-spacing: 5px;
    color: var(--green-neon);
    text-shadow: -2px 2px 2px #767676;
}

.WeekToggle {
    padding: 3px;
    margin: 3px;
}
.WeekToggle .WeekToggleNext {
    width: 0;
    height: 0;
    --size: 10px;
    border-top: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-left: 15px solid var(--green-neon);
    transform: translateX(25%);
}
.WeekToggle .WeekTogglePrev {
    width: 0;
    height: 0;
    --size: 10px;
    border-top: var(--size) solid transparent;
    border-right: 15px solid var(--green-neon);
    border-bottom: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    transform: translateX(-25%);
}

#renderContainer {
    margin: auto;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
#renderContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
#renderContainer::-webkit-scrollbar-track {
    background-color: black;
}
#renderContainer::-webkit-scrollbar-thumb {
    background: red;
}

/* SECTION: table building */
#renderTable {
    /* CAUTION: không đc để overflow ở đây 
    vì nó làm mất cái sticky của hourIndex */
    width: fit-content;
    margin: auto;
    background: #ffffff;
    color: black;
}
#renderTable .TableColumn {
    min-width: 100px;
    width: 11vw;
}

#renderTable .TableColumn .TableColumnName {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    border: 1px solid var(--green-neon);
    z-index: 20;

    /* background-color:var(--green_neon); */
    /* color:var(--black_neon); */
    background-color: var(--black-neon);
    color: var(--green-neon);
}
#renderTable .TableColumn .Hour {
    border: 1px solid var(--green-neon);

    background-color: #dbffcf74;
    box-sizing: border-box;
}
#renderTable .TableColumn .ComeHomeHour {
    background-color: #c6ffc9;
}

#renderTable .TableColumn.IndexHour {
    min-width: 30px;
    width: min-content;
    position: sticky;
    left: 0;
    z-index: 21;
}
#renderTable .TableColumn.IndexHour .Hour {
    background-color: var(--black-neon);
    color: var(--green-neon);
}

#renderTable .TableColumn.NowDayWeek {
    background-color: var(--color-now-dayweek);
}
#renderTable .TableColumn.NowDayWeek .TableColumnName {
    background-color: var(--color-now-dayweek);
    color: var(--black-neon);
}
#renderTable .TableColumn.NowDayWeek .Hour {
    background-color: var(--color-now-dayweek);
}
#renderTable .TableColumn.Weekend .Hour {
    background-color: #c6ffc9;
}

/* SECTION: class rendering */
.ThongTinLop::-webkit-scrollbar,
.ThongTinLopChiTiet::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.ThongTinLop::-webkit-scrollbar-thumb,
.ThongTinLopChiTiet::-webkit-scrollbar-thumb {
    background-color: red;
}
.ThongTinLop::-webkit-scrollbar-track,
.ThongTinLopChiTiet::-webkit-scrollbar-track {
    background-color: black;
}

#renderTable .LopDangKyElement {
    left: 0px;
    width: 100%;
    overflow: visible;
    border-radius: 3px;
    /* border: 1px solid var(--black-neon); */
    box-sizing: border-box;
    transition: 0.1s;
    z-index: 5;
}
#renderTable .LopDangKyElement .LopDangKyContainer {
    height: 100%;
}
#renderTable .LopDangKyElement .LopDangKyContainer .ThongTinLop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    overflow-y: auto;

    cursor: default;
    font-size: 12px;
}
#renderTable .LopDangKyElement .LopDangKyContainer .ThongTinLop .ThuocTinhLop {
    /* width: max-content; */
    /* width: 100%; */
    min-width: 50%;
}

/* SECTION: RESPONSIVE*/
@media screen and (orientation: portrait) {
    #pageMessagesContent {
        min-width: 100vw;
        max-width: 100vw;
    }
}
@media screen and (max-width: 1080px) {
}
