* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    min-height: 101%;
}
body {
    /* background-color:var(--black_neon); */
    background-color: var(--page_background);
    /* touch-action: manipulation; */
    /* min-width: 720px; */
}

/* SECTION: page and other ====================================================================================== */
.page {
    margin: auto;
}
.headPage {
    text-align: center;
    margin: 20px 0;
}
.bodyPage {
    margin: 20px auto;
}
.footPage {
    text-align: center;
    margin: 20px 0;
}

/* SECTION: page messages */
#openPageMessages {
    background-color: var(--green_neon);
    --bell_button_size: 40px;
    width: var(--bell_button_size);
    height: var(--bell_button_size);

    cursor: pointer;

    padding: 0px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px black;

    position: fixed;
    z-index: 22;
}
#openPageMessages .drag-to-move-header {
    cursor: pointer;
    padding: 5px;
}
#openPageMessages #numberOfMessages {
    background-color: red;
    color: white;
    padding: 0px;
    width: 25px;
    height: 25px;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}
#openPageMessages #numberOfMessages span {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#openPageMessages.hasMessage .bell-icon-normal {
    display: none;
}
#openPageMessages.hasMessage .bell-icon-ring {
    display: unset;
}
#openPageMessages.noMessage .bell-icon-normal {
    display: unset;
}
#openPageMessages.noMessage .bell-icon-ring {
    display: none;
}

#closePageMessages {
    position: fixed;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.438);
}

#pageMessagesContent {
    z-index: 22;
    position: fixed;

    overflow: auto;
    height: 100%;
    min-width: 10vw;
    max-width: 25vw;

    border-radius: 0 0 5px 5px;
    color: var(--green_neon);

    background-color: var(--fade_black_neon);
}
#messageQueue .messageType {
    background-color: var(--green_neon);
    color: var(--black_neon);
    padding: 1px 4px;
    border-radius: 3px;
}
#messageQueue .messageContent {
    min-width: 100px;
    max-width: 300px;

    text-align: center;
    letter-spacing: 0;
    font-size: 12px;

    background-color: black;
    padding: 3px;
    margin: 2px;

    border-radius: 5px;
    border: 1px solid var(--green_neon);
}

#auto-register input {
    border: 2px solid black;
    border-radius: 5px;

    padding: 2px;
    font-size: 17px;

    text-align: center;
    cursor: text;
}

#inputSearchClass {
    outline: none;
    border: none;
    border-radius: 5px;
    color: var(--green_neon);
    background-color: var(--black_neon);

    padding: 5px 0px;
    font-size: 17px;

    text-align: center;
    cursor: text;
}

#guessIds {
    top: 100%;
    background-color: var(--black_neon);
    /* padding: 5px; */
    overflow-y: auto;
    border-radius: 5px;
    z-index: 21; /* make it higher than dayweek header */
}
#guessIds .classId {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

    border-radius: 5px;
    background-color: var(--black_neon);
    border: 1px solid var(--green_neon);
}
#guessIds .classId .maLop {
    color: var(--green_neon);
    background-color: var(--black_neon);
    border: none;
    outline: none;
    border-radius: 4.5px;

    text-align: center;

    min-width: 50px;
    font-size: 13px;

    cursor: pointer;
    vertical-align: middle;
    padding: 3px 5px;
}
#guessIds .classId .maLop:hover {
    transition: 0.4s;
    color: var(--black_neon);
    background-color: var(--green_neon);
    box-shadow: 0 0 10px 0px var(--green_neon);
}

#classIds {
    min-width: 50%;
    max-width: 80%;
    min-height: 100px;
    margin: 10px auto;
}
#classIds .classId {
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: var(--black_neon);
    box-shadow: 0 0 5px 1px var(--black_neon);
}
#classIds .classId .input {
    color: var(--green_neon);
    background-color: var(--black_neon);

    border: none;
    outline: none;

    border-radius: 5px;
    text-align: center;

    min-width: 50px;
    font-size: 13px;

    letter-spacing: 1px;
    vertical-align: middle;
    padding: 3px 5px;
}
#classIds .classId .remove {
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 5px;
    vertical-align: middle;
    cursor: pointer;
}
#classIds .classId .remove:hover {
    transition: 0.4s;
    background-color: var(--green_neon);
    box-shadow: 0 0 10px 0px var(--green_neon);
}

/* SECTION: timing, week, term, ... */
#termPreview {
    border: 2px solid black;
    border-radius: 5px;

    padding: 2px;
    width: 150px;
    font-size: 20px;
    letter-spacing: 1px;

    text-align: center;
}
.weekToggle .weekPreviewTitle {
    font-size: 25px;
    color: var(--green_neon);
    letter-spacing: 5px;
    text-shadow: -2px 2px 2px #767676;
}
.weekToggle #weekPreview {
    text-align: center;
    width: 100px;
    background: none;
    border: none;
    outline: none;
    font-size: 50px;
    color: var(--green_neon);
    letter-spacing: 5px;
    text-shadow: -2px 2px 2px #767676;
}
.weekToggle .toggleWeekPreview {
    padding: 3px;
    margin: 3px;
}
.weekToggle .weekPreview_next {
    width: 0;
    height: 0;
    --size: 10px;
    border-top: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    border-left: 15px solid var(--green_neon);
    transform: translateX(25%);
}
.weekToggle .weekPreview_prev {
    width: 0;
    height: 0;
    --size: 10px;
    border-top: var(--size) solid transparent;
    border-right: 15px solid var(--green_neon);
    border-bottom: var(--size) solid transparent;
    border-left: var(--size) solid transparent;
    transform: translateX(-25%);
}

.renderContainer {
    margin: auto;
    width: fit-content;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}
.renderContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.renderContainer::-webkit-scrollbar-track {
    background-color: black;
}
.renderContainer::-webkit-scrollbar-thumb {
    background: red;
}

/* SECTION: table building */
.renderTable {
    /* CAUTION: không đc để overflow ở đây 
    vì nó làm mất cái sticky của hourIndex */
    width: fit-content;
    margin: auto;
    background: #ffffff;
    color: black;
}
.renderTable .column {
    min-width: 100px;
    width: 11vw;
}
.renderTable .column.indexHour {
    min-width: 30px;
    width: min-content;
    position: sticky;
    left: 0;
    z-index: 21;
}
.renderTable .column.currentDayWeek {
    --current_dayweek_color: rgb(238, 255, 0);
    background-color: var(--current_dayweek_color);
}

.renderTable .column .columName {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    border: 1px solid var(--green_neon);
    z-index: 20;

    /* background-color:var(--green_neon); */
    /* color:var(--black_neon); */
    background-color: var(--black_neon);
    color: var(--green_neon);
}
.renderTable .column .hourOfDay {
    border: 1px solid var(--green_neon);

    background-color: #dbffcf74;
    box-sizing: border-box;
}
.renderTable .column .notWorkHour {
    background-color: #c6ffc9;
}

.renderTable .column.indexHour .hourOfDay {
    background-color: var(--black_neon);
    color: var(--green_neon);
}
.renderTable .column.weekend .hourOfDay {
    background-color: #c6ffc9;
}
.renderTable .column.currentDayWeek .columName {
    background-color: var(--current_dayweek_color);
    color: var(--black_neon);
}
.renderTable .column.currentDayWeek .hourOfDay {
    background-color: var(--current_dayweek_color);
}

/* SECTION: class rendering */
.classRender .classContainer .classProps::-webkit-scrollbar,
.classDetails::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.classRender .classContainer .classProps::-webkit-scrollbar-thumb,
.classDetails::-webkit-scrollbar-thumb {
    background-color: red;
}
.classRender .classContainer .classProps::-webkit-scrollbar-track,
.classDetails::-webkit-scrollbar-track {
    background-color: black;
}

.renderTable .column .classRender {
    left: 0px;
    width: 100%;
    overflow: visible;
    border-radius: 3px;
    /* border: 1px solid var(--black_neon); */
    box-sizing: border-box;
    transition: 0.1s;
    z-index: 5;
}
.renderTable .column .classRender .classContainer {
    height: 100%;
}
.renderTable .column .classRender .classContainer .classProps {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    overflow-y: auto;

    cursor: default;
    font-size: 12px;
}
.renderTable .column .classRender .classContainer .classProps .classProp {
    /* width: max-content; */
    /* width: 100%; */
    min-width: 50%;
}

/*=======================================================================================*/
/* SECTION: RESPONSIVE*/
@media screen and (orientation: portrait) {
    #pageMessagesContent {
        min-width: 100vw;
        max-width: 100vw;
    }
}
@media screen and (max-width: 1080px) {
}
