html {
    scroll-behavior: smooth;
    min-height: 101%;
}

body {
    background-color: #747474;
}

.CustomMessengerV1 {
    /* box-shadow: 0 0 10px 1px black; */
    overflow: visible;
    background-color: #000000;
    height: fit-content;
    min-width: 500px;
    max-width: 1000px;
}

.CustomMessengerV1 ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.CustomMessengerV1 ::-webkit-scrollbar-track {
    background-color: black;
}
.CustomMessengerV1 ::-webkit-scrollbar-thumb {
    background: red;
}

.CustomMessengerV1 .MessengerTitle {
    padding: 2px 4px;
    background-color: #ffffff;
    color: black;
}

.CustomMessengerV1 .MessengerScreen {
    height: 50vh;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
    padding: 4px;
    padding-bottom: 0;
}

.CustomMessengerV1 .MessengerScreen span {
    display: inline-block;
}
.CustomMessengerV1 .MessengerScreen .MessageTime {
    background-color: #ffffff;
    color: black;
    padding: 3px;
    height: fit-content;
}

.CustomMessengerV1 .MessengerScreen .CommandMessage {
    color: white;
    margin: 3px;
    display: flex;
    justify-content: flex-start;
}
.CustomMessengerV1 .MessengerScreen .ResponseMessage {
    color: white;
    margin: 4px;
    display: flex;
    justify-content: flex-end;
}

.CustomMessengerV1 .MessengerScreen .MessageContent {
    background-color: #2e2e2e;
    margin: 3px;
    padding: 2px 5px;
    cursor: pointer;
}
.CustomMessengerV1 .MessengerScreen .ResponseMessage .MessageContent {
    /* background-color: #2a63ff; */
    /* background-color: #4A4A4A; */
    background-color: #1d3c78;
    font-size: 16px;
}

.CustomMessengerV1 .TypingMessage {
    color: #00ff00;
    padding: 4px;
    overflow: visible;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer {
    width: 100%;
    background-color: #2e2e2e;
    --temp1: 5px;
    --temp2: 5px;
    padding: var(--temp1) var(--temp2);
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessageTypingContent {
    outline: none;
    color: white;
    border: none;
    padding: 0;
    font: unset;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessagePreview {
    left: 0px;
    padding: 0px var(--temp2);
    color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessageAutoComplete {
    top: calc(100% + 8px);
    left: 0px;
    max-height: 95px;
    direction: rtl;

    overflow-y: auto;
    overflow-x: visible;
    scroll-behavior: smooth;
    transition: 0.4s;

    padding: 4px;
    z-index: 0;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessageAutoComplete .MessageEntry {
    overflow: visible;
    direction: ltr;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessageAutoComplete .MessageEntry .MessageEntryContent {
    cursor: pointer;
    color: white;
    margin: 3px 0px;
    /* box-shadow: 0 0 3px 0 black; */
    padding: 2px 5px;
    background-color: #2c2c2cb3;
    opacity: 0.5;
}
.CustomMessengerV1 .TypingMessage .TypingMessageContainer .MessageAutoComplete .MessageEntry.isSelecting .MessageEntryContent {
    opacity: 1;
    border: 1px solid #000000;
    /* box-shadow: 0px 0px 5px 0px #000000; */
}
